.App {
  text-align: center;
}

.App-logo {
  height: 70vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f7f2d7af;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #28bd9d8a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-container{
  border: 2px solid #000;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 365px;
  width: 323px;
  height: 431px;
}

.header-text {
  color:rgba(35, 76, 123, 0.8);
  font-size: 18px;
}

.header-text-small {
  color:rgba(35, 76, 123, 0.8);
  font-size: 10px;
}